<section>
    <div class="container">
        <div class="about-text">
            <h5>About</h5>
            <p>CeriseNote is a cloud storage webapp that allows users to upload and store files, and to create
                and save notes</p>
            <h5>Stack</h5>
        </div>
        <div class="info">

            <pre>Frontend: Angular</pre>
            <pre>Backend:  Node.js w/ Express</pre>
            <pre>Database: MongoDB Atlas +
          Cloudflare R2</pre>
            <pre>Auth:     Google OAuth 2.0    (client)
          MongoStore Sessions (server)</pre>
            <pre>Devops:   Docker + AWS ECS</pre>

        </div>
        <div class="links">
            <a href="https://github.com/systemized/cerisenote_v1" target="_blank"><img
                    src="assets/github-mark-white.svg" width="36px" height="36px" alt="GitHub"></a>
        </div>
    </div>
    <br>
     


</section>