/* You can add global styles to this file, and also import other style files */



:root {
    --primary-color: #101010;
    --primary-accent: #222222;
    --secondary-color: #de3163;
    --secondary-accent: #de003f;
    --accent-color: #ffeaea;
}


html, body {
    margin: 0 0px;
    padding: 0;
    background-color: var(--primary-color);
}
