section {
    padding: 0 20px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        padding: 0 20px;
        color: var(--secondary-color);
        font-size: x-large;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;

        .text-container {
            margin-bottom: 40px;
            background: linear-gradient(to right, var(--secondary-color), var(--secondary-accent));
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        button {

            border: none;
            color: white;
            border-radius: 20px;
            padding: 20px 50px;
            background-color: var(--secondary-color);
            font-size: large;
            font-weight: 600;
            transition: .1s linear;

            &:hover {
                background-color: var(--secondary-accent);
                cursor: pointer;
                transform: translateY(-1.7px);
            }
        }
    }
}