nav {
    background-image: linear-gradient(to right, #DE3163, #AB3163);
    width: auto;
    height: 80px;
    display: flex;
    justify-content: center;

    div {
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;

        div {
            justify-content: center;
        }
    }

    #title {
        right: 0px;
        color: white;
        font-size: x-large;
        font-weight: bolder;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
}