<h2 mat-dialog-title>Edit Tasks</h2>
<mat-tab-group>
    <!-- Create List Tab -->
    <mat-tab label="Create">
        <mat-dialog-content>

            <mat-form-field style="width: 100%;">
                <mat-label>Task Name</mat-label>
                <input matInput [(ngModel)]="newTaskTitle" />
            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="newTaskDesc"></textarea>
            </mat-form-field>

        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cancel</button>
            <button mat-button (click)="createTask()" cdkFocusInitial>Create</button>
        </mat-dialog-actions>
    </mat-tab>

    <!-- Delete List Tab -->
    <mat-tab label="Delete">
        <mat-dialog-content>
            <mat-nav-list>
                <mat-list-item *ngFor="let task of tasks" (click)="selectTask(task._id)"
                    [ngStyle]="{ 'background-color': task._id === selectedTaskId ? '#ffabcb' : 'transparent' }">
                    {{ task.title }}
                </mat-list-item>
            </mat-nav-list>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cancel</button>
            <button mat-button color="warn" (click)="deleteTask()" [disabled]="!selectedTaskId"
                cdkFocusInitial>Delete</button>
        </mat-dialog-actions>
    </mat-tab>
</mat-tab-group>