<h2 mat-dialog-title>Edit Lists</h2>
<mat-tab-group>
    <!-- Create List Tab -->
    <mat-tab label="Create">
        <mat-dialog-content>
            <mat-form-field>
                <mat-label>List Name</mat-label>
                <input matInput [(ngModel)]="newListName" />
            </mat-form-field>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cancel</button>
            <button mat-button (click)="createList()" cdkFocusInitial>Create</button>
        </mat-dialog-actions>
    </mat-tab>

    <!-- Delete List Tab -->
    <mat-tab label="Delete">
        <mat-dialog-content>
            <mat-nav-list>
                <!-- <mat-list-item *ngFor="let list of lists" (click)="selectList(list._id)"
                    [class.selected]="list._id === selectedListId">
                    {{ list.name }}
                </mat-list-item> -->
                <mat-list-item *ngFor="let list of lists" (click)="selectList(list._id)"
                    [ngStyle]="{ 'background-color': list._id === selectedListId ? '#ffabcb' : 'transparent' }">
                    {{ list.name }}
                </mat-list-item>
            </mat-nav-list>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cancel</button>
            <button mat-button color="warn" (click)="deleteList()" [disabled]="!selectedListId"
                cdkFocusInitial>Delete</button>
        </mat-dialog-actions>
    </mat-tab>
</mat-tab-group>